<div class="content">
    <div class="headline">
    <h2>My Work</h2>
    <span>Here are couple of my projects that i have built. <br> You can click on them and try them online or check the code on my Github account </span>
    </div>
    <div class="projectsDiv">
        <div class="projectWrapper">
            <div class="projectPic">
<img src="assets/img/bg1.jpg" alt="" srcset="">
            </div>
            <div class="projectDescription">
desc.
            </div>
        </div>
    </div>
    <div class="projectsDiv">
        <div class="projectWrapper">
            <div class="projectPic">
<img src="assets/img/bg2.jpg" alt="" srcset="">
            </div>
            <div class="projectDescription">
desc.
            </div>
        </div>
    </div>
    <div class="projectsDiv">
        <div class="projectWrapper">
            <div class="projectPic">
<img src="assets/img/bg3.jpg" alt="" srcset="">
            </div>
            <div class="projectDescription">
desc.
            </div>
        </div>
    </div>
    <div class="projectsDiv">
        <div class="projectWrapper">
            <div class="projectPic">
<img src="assets/img/bg4.jpg" alt="" srcset="">
            </div>
            <div class="projectDescription">
desc.
            </div>
        </div>
    </div>
</div>
