.content {
    font-family: "Alegreya" !important;
  color: white;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  .headline {
    h2 {
        font-family: "Alegreya" !important;
      font-size: 36px;
    }

    span {
      font-size: 20px;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectsDiv {

    height: 500px;
    width: 900px;
    display: flex;
    justify-content: center;



    .projectWrapper {
      display: flex;
      margin-top: 40px;
      flex-direction: row !important;


      .projectPic {
        margin-right: 50px;



        img {
          height: 350px;
          width: 450px;


        }
      }
    }

    .projectDescription {
      width: 350px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      .projectName{
        margin-top: 10px;
        font-size: 36px;
      }

      .technologies{
        margin-top: 20px;
        font-size: 20px;
      }

      .descriptionText{
        word-spacing: 2px;
        margin-top: 20px;
        font-size: 20px;
      }

      .navigationButtons {
        margin-top: 20px;

        button{
            font-family: "Alegreya" !important;
            height: 60px;
            width: 250px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            background-color: white;
            color: #fa2759;
            img {
                margin-right: 10px;
                height: 25px;
            }
            &:hover {
                cursor: pointer;
                    background-color: #fa2759;
                    color: white;
                }
        }
      }
    }
  }
}




