<div id="thirdSection" class="content">
  <div class="headline" data-aos-duration="2000" data-aos="fade-up">
    <h2>My Work</h2>
    <span
      >Here are couple of my projects that i have built. <br />
      You can click on them and try them online or check the code on my Github
      account
    </span>
  </div>
  <div class="projectsDiv" data-aos-duration="2000" data-aos="fade-up-right">
    <div class="projectWrapper">
      <div class="projectPic">
        <img src="assets/img/bg1.png" alt="" srcset="" />
      </div>
      <div class="projectDescription">
        <span class="projectName">El Pollo Loco</span>
        <span class="technologies">OOP / CSS / JS </span>
        <span class="descriptionText"
          >The "Mexican Mario" PePe Pellegrosso is on his journey to collect his
          Salsa Bottles facing crazy chickens. <br />
          A Jump & Run game where object orientation is used</span
        >
        <div class="navigationButtons">
          <button>
            <img src="assets/img/gotoOpen.png" alt="" /> Try it out Online
          </button>
          <button>
            <img src="assets/img/githubLogo.png" alt="" /> See Source Code in
            Github
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="projectsDiv" data-aos="fade-up-right" data-aos-duration="2000">
    <div class="projectWrapper">
      <div class="projectPic">
        <img src="assets/img/bg22.jpg" alt="" srcset="" />
      </div>
      <div class="projectDescription">
        <span class="projectName">Kanban </span>
        <span class="technologies">ANGULAR / TYPESCRIPT / FIREBASE </span>
        <span class="descriptionText"
          >Kanban is a very helpful managment tool that lets you organize your
          Tasks and Workflow. <br />
          written using Angular framework with the help of Firebase
          Databank</span
        >
        <div class="navigationButtons">
          <button>
            <img src="assets/img/gotoOpen.png" alt="" /> Try it out Online
          </button>
          <button>
            <img src="assets/img/githubLogo.png" alt="" /> See Source Code in
            Github
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="projectsDiv" data-aos="fade-up-right" data-aos-duration="2000">
    <div class="projectWrapper">
      <div class="projectPic">
        <img src="assets/img/bg33.jpg" alt="" srcset="" />
      </div>
      <div class="projectDescription">
        <span class="projectName">Ring Of Fire</span>
        <span class="technologies">ANGULAR / TYPESCRIPT / FIREBASE </span>
        <span class="descriptionText"
          >A Multiplayer card game from the American Culture, where the players
          should draw a Card and follow the instructions that it tells. <br />
          written using Angular framework with the help of Firebase Databank
        </span>
        <div class="navigationButtons">
          <button>
            <img src="assets/img/gotoOpen.png" alt="" /> Try it out Online
          </button>
          <button>
            <img src="assets/img/githubLogo.png" alt="" /> See Source Code in
            Github
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="projectsDiv" data-aos="fade-up-right" data-aos-duration="2000">
    <div class="projectWrapper">
      <div class="projectPic">
        <img src="assets/img/bg44.jpg" alt="" srcset="" />
      </div>
      <div class="projectDescription">
        <span class="projectName">Quandl Bitcoin App</span>
        <span class="technologies">API / JS / HTML / CSS</span>
        <span class="descriptionText"
          >One of the first small apps that was created using API's as the main
          tool. This App calculates and shows the Bitcoin worth in USD. Letting
          you follow the historic exchange rates over a chosen period of Time.
        </span>
        <div class="navigationButtons">
          <button>
            <img src="assets/img/gotoOpen.png" alt="" /> Try it out Online
          </button>
          <button>
            <img src="assets/img/githubLogo.png" alt="" /> See Source Code in
            Github
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="projectsDiv" data-aos="fade-up-right" data-aos-duration="2000">
    <div class="projectWrapper">
      <div class="projectPic">
        <img src="assets/img/bg44.jpg" alt="" srcset="" />
      </div>
      <div class="projectDescription">
        <span class="projectName">Simple CRM</span>
        <span class="technologies">ANGULAR / TYPESCRIPT / FIREBASE</span>
        <span class="descriptionText"
          >In this project i managed to build a Customer-Relationship-Management
          which allows to add users with information that is afterwards shown
          and can be edited.
        </span>
        <div class="navigationButtons">
          <button>
            <img src="assets/img/gotoOpen.png" alt="" /> Try it out Online
          </button>
          <button>
            <img src="assets/img/githubLogo.png" alt="" /> See Source Code in
            Github
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
