mat-toolbar {
  z-index: 9999;
font-family: Arima Madurai !important;
  background-color: rgba(0, 0, 0, 0.856);
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: 1px 6px 67px 15px rgba(255,255,255,0.3);
-webkit-box-shadow: 1px 6px 67px 15px rgba(255,255,255,0.3);
-moz-box-shadow: 1px 6px 67px 15px rgba(255,255,255,0.3);


  img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
    cursor: pointer;

  }

  .links {
    button {
      border: none;
      color: white;
      background: none;
      margin-left: 20px;
      margin-right: 50px;
      cursor: pointer;
      padding-bottom: 20px;
    }
  }

  .links :hover {
    color: #fa2759;
    padding-bottom: 20px;
    border-bottom: #fa2759 2px solid;
  }
}
