<mat-toolbar>
  <div>
    <img src="assets/img/NBLOGO.png" alt="" srcset="" />
  </div>
  <div class="links">
    <button mat-stroked-button color="primary">
      <a href="#firstSection"> ABOUT</a>
    </button>

    <button mat-stroked-button color="primary">
      <a href="#secondSecetion"> SKILLS</a>
    </button>
    <button mat-stroked-button color="primary">
      <a href="#thirdSection"> WORK </a>
    </button>
    <button mat-stroked-button color="primary">
      <a href="#fifthSection"> CONTACT</a>
    </button>
  </div>
</mat-toolbar>

<div class="responsiveMenu">
  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <div class="linksRespo">
      <a href="#firstSection"> ABOUT</a>
      <a href="#secondSecetion"> SKILLS</a>
      <a href="#thirdSection"> WORK </a>
      <a href="#fifthSection"> CONTACT</a>
    </div>
  </mat-menu>
</div>
