<div class="content">
  <div class="leftDiv">
   <div (click)="goToImprint()" class="imprint">Imprint</div>
  <div (click)="goToLegal()" class="legal">Legal notice</div>
  </div>
  <div class="rightDiv">
    <a target="_blank" href="https://github.com/Nareg-B-94"><div  class="github"></div></a>
    <a target="_blank"href="https://www.linkedin.com/in/nareg-berberian-a7b202218/"> <div  class="linkedin"></div></a>
    <a target="_blank" href="https://www.xing.com/profile/Nareg_Berberian/cv"><div class="xing"></div></a>
  </div>
</div>
