<div class="content">
  <h2 class="headline">My Skills</h2>
  <div class="skillCards">
<div class="row">
    <div data-aos="fade-right" data-aos-duration="2000" class="mainCard">
        <div class="header"><img src="assets/img/htmlLogo.png" alt=""></div>
        <div  class="descprition">HTML</div>
    </div>

    <div data-aos="fade-down" data-aos-duration="2000" class="mainCard">
        <div class="header"><img src="assets/img/cssLogo.png" alt=""></div>
        <div class="descprition">CSS</div>
    </div>

    <div data-aos="fade-left" data-aos-duration="200" class="mainCard">
        <div class="header"> <img src="assets/img/jslogo.jpg" alt=""></div>
        <div class="descprition">JAVASCRIPT</div>
    </div>
</div>

<div  class="row">
    <div data-aos="fade-down-right" data-aos-duration="2000" class="mainCard">
        <div  class="header"><img src="assets/img/gitLogo.png" alt=""></div>
        <div class="descprition">GIT</div>
    </div>

    <div data-aos="flip-left" data-aos-duration="2000" class="mainCard">
        <div class="header"><img src="assets/img/apiLogo.png" alt=""></div>
        <div class="descprition">REST API</div>
    </div>

    <div data-aos="fade-down-left" data-aos-duration="2000" class="mainCard">
        <div  class="header"> <img src="assets/img/scrumLogo.png" alt=""></div>
        <div class="descprition">SCRUM</div>
    </div>
</div>

<div class="row">
    <div data-aos="fade-up-right" data-aos-duration="2000" class="mainCard">
        <div class="header"><img src="assets/img/angularLogo.png" alt=""></div>
        <div class="descprition">ANGULAR</div>
    </div>

    <div data-aos="flip-down" data-aos-duration="2000" class="mainCard">
        <div class="header"><img src="assets/img/tsLogo.png" alt=""></div>
        <div class="descprition">TYPESCRIPT</div>
    </div>

    <div data-aos="fade-up-left" data-aos-duration="200" class="mainCard">
        <div class="header"> <img src="assets/img/firebaseLogo.webp" alt=""></div>
        <div class="descprition">FIREBASE</div>
    </div>
</div>


  </div>
</div>
