<div class="content">
  <div
    class="respo contactMe"
    data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000"
  >
    <h2>Contact me.</h2>
    <span class="respo"
      >Get in touch via this form below, or by emailing
      <a href="">naregb94@gmail.com</a>
    </span>
  </div>
  <div class="formDiv">
    <form action="">
      <span data-aos="fade-right" data-aos-duration="2000">Name</span>
      <input
        data-aos="fade-left"
        data-aos-duration="2000"
        type="text"
        placeholder="Enter your name"
      />
      <span data-aos="fade-right" data-aos-duration="2400">Email address</span>
      <input
        data-aos="fade-left"
        data-aos-duration="2400"
        type="email"
        placeholder="Enter your email address"
      />
      <span data-aos="fade-right" data-aos-duration="2800">Message</span>
      <textarea
        data-aos="fade-left"
        data-aos-duration="2800"
        placeholder="Enter your message"
        name=""
        id=""
        cols="30"
        rows="10"
      ></textarea>
      <div data-aos="fade-left" data-aos-duration="3000" class="buttoN">
        <button>Send</button>
      </div>
    </form>
  </div>
</div>
