.content {
  font-family: "Alegreya" !important;
  color: white;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .contactMe {
    h2 {
      font-family: "Alegreya" !important;
      color: #2dfcd8;
      font-size: 64px;
      margin-bottom: 50px;
    }
    span {
      font-family: "Alegreya" !important;
      font-size: 20px;

      a {
        color: #1c9e88;
        text-decoration: none;
      }
    }
  }

  .formDiv {
    width: 500px;
    position: relative;
    form {
      margin-top: 50px;
      display: flex !important;
      flex-direction: column;

      span {
        margin-top: 30px;
        font-size: 20px;
      }

      input {
        height: 30px;

        font-family: "Alegreya" !important;
        margin-top: 10px;
        background-color: #1a1a1a;
        border-color: #1c9e88;
        color: white;
        font-size: 20px;
      }

      .buttoN {
        display: flex;
        justify-content: end;
        align-items: center;
      }
    }
    textarea {
      border-color: #1c9e88;
      font-family: "Alegreya" !important;
      resize: none;
      margin-top: 10px;
      background-color: #1a1a1a;
      color: white;
      font-size: 20px;
    }

    span {
      margin-bottom: 10px;
    }

    button {
      font-size: 20px;
      font-family: "Alegreya" !important;
      margin-top: 20px;
      padding: 20px;
      width: 150px;
      background-color: black;
      border-color: #2dfcd8;
      color: #2dfcd8;
      cursor: pointer;

      &:hover {
        background-color: #2dfcd8;
        color: black;
      }
    }
  }
}

@media (max-width: 600px) {
  h2 {
    display: flex;
    justify-content: center;
  }
  .respo {
    text-align: center;
    word-wrap: break-word !important;
    width: 350px !important;

    span {
      width: 350px !important;
      text-align: center !important;
    }
  }
}

@media (max-width: 530px) {
  .content {
    width: 100vw !important;
    .formDiv {
      width: 100vw !important;
    }
    form {
      margin-right: 50px !important;
      margin-left: 50px !important;
    }
  }
}
