.content {
  overflow-x: hidden;
  font-family: "Alegreya" !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #1a1a1a;
  color: #ffffff;
  flex-direction: column;
  h3 {
    font-size: 20px;
    font-family: "Alegreya" !important;
  }

  .upperSection {
    max-width: 1000px;
    padding-bottom: 50px;
    height: 250px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    border-bottom: solid 1.2px #2dfcd8;

    .leftDiv {
      flex: none;
      margin-right: 40px;
      background-image: url("/assets/img/TSF_0345.jpg");
      border-radius: 100%;
      height: 330px;
      width: 330px;
      object-fit: contain;
      background-size: cover;
      background-position: center top ;
      margin-bottom: 60px;
    }

    .rightDiv {
      font-family: "Alegreya" !important;
      text-align: center;
      margin-left: 40px;
      h2 {
        font-family: "Alegreya" !important;
        font-size: 36px;
      }
      span {
        word-spacing: 5px;
        font-family: "Alegreya" !important;
        font-size: 20px;
      }
    }
  }

  .lowerSection {
    max-width: 1000px;
    display: flex;
    margin-top: 100px;

    .journeyDiv {
      // margin-left: 10px;
      // margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .iconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100px;
        width: 100px;
        background-color: #2dfcd8;
        border-radius: 100%;
        img {
          height: 50px;
          width: 50px;
        }
      }
      .descriptionDiv {
        text-align: center;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;

        span{
          font-size: 18px;
        }
      }
    }
    .firstExperienceDiv {
      // margin-left: 10px;
      // margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .iconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100px;
        width: 100px;
        background-color: #2dfcd8;
        border-radius: 100%;
        img {
          height: 50px;
          width: 50px;
        }
      }
      .descriptionDiv {
        text-align: center;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        span{
          font-size: 18px;
        }
      }
    }
    .searchDiv {
      // margin-left: 10px;
      // margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .iconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100px;
        width: 100px;
        background-color: #2dfcd8;
        border-radius: 100%;
        img {
          height: 50px;
          width: 50px;
        }
      }
      .descriptionDiv {
        text-align: center;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        span{
          font-size: 18px;
        }
      }
    }
    .challengesDiv {
      // margin-left: 10px;
      // margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .iconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100px;
        width: 100px;
        background-color: #2dfcd8;
        border-radius: 100%;
        img {
          height: 50px;
          width: 50px;
        }
      }
      .descriptionDiv {
        text-align: center;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        span{
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .content {
    padding-top: 100px !important;
    padding-bottom: 100px !important;

    .lowerSection {
      display: flex !important;
      flex-direction: column !important;
      width: 350px;
      .journeyDiv {
        margin-bottom: 30px;
      }
      .firstExperienceDiv {
        margin-bottom: 30px;
      }
      .searchDiv {
        margin-bottom: 30px;
      }
    }

    .leftDiv {
      flex: none;
      margin-right: unset !important;
      margin-bottom: 20px;
    }
    .upperSection {
      height: fit-content !important;
      display: flex !important;
      flex-direction: column !important;

    }
  }
}
@media (max-width: 500px) {
  .upperSection {
    border-bottom: none !important;
  }
  .rightDiv {
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
    width: 200px !important;
    margin-left: unset !important;
  }

  .descriptionDiv{
    width: 200px !important;
  }
}
