<div class="content">
  <div class="upperSection">
    <div class="leftDiv"></div>
    <div class="rightDiv"><h2>About me.</h2>
    <span>``I'm a passionate sports and technology enthusiast who loves discovering the world of programing´´</span>
    </div>
  </div>
  <div class="lowerSection">
    <div class="journeyDiv">
      <div class="iconDiv"><img src="assets/img/walk-line.png" alt="" srcset=""></div>
      <div class="descriptionDiv">
        <h3>MY JOURNEY BEGAN</h3>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet accusamus enim nihil? Vero dignissimos tempore doloremque. Quas soluta recusandae doloribus numquam deleniti nihil consequuntur illo? Voluptatum aut cum architecto odit?</span>
      </div>
    </div>
    <div class="firstExperienceDiv">
      <div class="iconDiv"><img src="assets/img/heart-line.png" alt=""></div>
      <div class="descriptionDiv">
        <h3>FIRST EXPERIENCE</h3>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod beatae fugit blanditiis temporibus voluptatum molestiae repellat ipsa enim consequuntur maxime impedit minima soluta, architecto, at voluptas iusto quasi sit eveniet?</span>
      </div>
    </div>
    <div class="searchDiv">
      <div class="iconDiv"><img src="assets/img/search-line.png" alt="" srcset=""></div>
      <div class="descriptionDiv">
        <h3>MY SEARCH</h3>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis a repudiandae expedita consectetur nemo numquam nobis quidem ea quas similique dolorum culpa accusantium eum praesentium corporis doloremque, debitis aliquid ducimus?</span>
      </div>
    </div>
    <div class="challengesDiv">
      <div class="iconDiv"><img src="assets/img/flight-takeoff-line.png" alt="" srcset=""></div>
      <div class="descriptionDiv">
        <h3>NEW CHALLENGES</h3>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, pariatur obcaecati, veniam amet quis magni cum accusamus architecto non atque eligendi voluptatem voluptas sunt tempora minima, provident ullam dicta facere!</span>
      </div>
    </div>
  </div>
</div>
