<div id="fourthSection" class="content">
  <div data-aos="zoom-in-down" data-aos-duration="2000" class="upperSection">
    <div class="leftDiv"></div>
    <div class="rightDiv"><h2>About me.</h2>
    <span>``I'm a passionate sports and technology enthusiast who loves discovering the world of programing´´</span>
    </div>
  </div>
  <div class="lowerSection">
    <div data-aos="zoom-out-down" data-aos-duration="1500" class="journeyDiv">
      <div class="iconDiv"><img src="assets/img/walk-line.png" alt="" srcset=""></div>
      <div class="descriptionDiv">
        <h3>MY JOURNEY BEGAN</h3>
        <span>Studying Business and Trading, I realised that IT is future of pretty much everything in the modern day society. i decided to take this Leap of Faith and explore this world.</span>
      </div>
    </div>
    <div data-aos="zoom-out-down" data-aos-duration="2000" class="firstExperienceDiv">
      <div class="iconDiv"><img src="assets/img/heart-line.png" alt=""></div>
      <div class="descriptionDiv">
        <h3>FIRST EXPERIENCE</h3>
        <span>During my internship in the business and trading industry, i started taking deeper steps towards data automatisation and landed in the IT Administrative department of that company that i was doing my internship in it.</span>
      </div>
    </div>
    <div data-aos="zoom-out-down" data-aos-duration="2500" class="searchDiv">
      <div class="iconDiv"><img src="assets/img/search-line.png" alt="" srcset=""></div>
      <div class="descriptionDiv">
        <h3>MY SEARCH</h3>
        <span>Looking to furthermore increase my Knowledge, I enrolled in a professional software developing Bootcamp, which taught me intensivelly how to become a better Software Dev... in 15 Weeks i coded 9 10 or even 11 hours a day which was Awesome thing.  </span>
      </div>
    </div>
    <div data-aos="zoom-out-down" data-aos-duration="3000" class="challengesDiv">
      <div class="iconDiv"><img src="assets/img/flight-takeoff-line.png" alt="" srcset=""></div>
      <div class="descriptionDiv">
        <h3>NEW CHALLENGES</h3>
        <span>Im Eagerly waiting to have the chance to improve and hone my individual as well as Team-skills and help leaving a Positive impact in world of Prgramming in a Corporate or somewhere else.
        </span>
      </div>
    </div>
  </div>
</div>
