

html, body { height: 100%;



    ::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2dfcd8;
  border-radius: 10px;
  &:hover {
    box-shadow: inset 0 0 5px #fa2759;
  }
}
::-webkit-scrollbar-thumb {
  background: #fa2759;
  border-radius: 10px;

  &:hover {
    background:#2dfcd8;
  }
}
::-webkit-input-placeholder {
          color:#fa2759;
        }
        font-size: 20px;



}
body { margin: 0;





}


